<div class="content">
	<h1>Results</h1>
	<hr>
	<div class="thank-you">
		<p>Thank you for taking part in this experiment. You will be notified by email if you have won the £30 cash prize. </p>
		<p><u>Debrief</u></p>
		<p>This experiment compared the efficacy of traditional tools versus new technologies in trust development in virtual teams. Trust is a multi-facet construct which is thought to develop via interpersonal information exchange, risk and interdependence. As such, trust was measured via an intra-team trust survey and a prisoner’s dilemma-type game called Day Trader. We hope you have enjoyed this experiment. If you have any questions, please email Evelyn Tan (ti.tan.16@ucl.ac.uk).</p>

	</div>
	<app-table [tables]="tables"></app-table>

	
</div>