<div>
	<h1>Instructions</h1>
	<div class="main">
			<p>You are an investor for the next 5 days. Each day, you will receive $40 and have to decide how much you wish to invest as an individual and how much to invest with the group. </p>
			<h1>Rules</h1>
			<ol>
				<li>The individual investment yields a guaranteed payoff of two times (2x) the amount invested per day. (eg. If individual investment = $20 then individual payoff = $20 X 2 = $40)</li>
				<li>In the group investment, all players’ contributions are lumped together, and multiplied by 4, then distributed back evenly.</li>
				<li>For example, Player 1 invests, $40 individually and $0 group investment, Player 2 invests, $30 individually and $10 group investment, Player 3 invests, $35 individually and $5 group investment and Player 4 invests $20 individually and $20 group investment.</li>
				<li>Final return on group investment per person is:</li>
				<ol type='i'>
					<li>(($0 + $10 + $5 + $20) x 4) / 4 = $35 </li>
					<li>Therefore, each individual receives $35 return on group investment</li>
				</ol>
			</ol>
			<p>Please press ready when you're ready to start. Game will start when all players are ready</p>
	</div>
</div>
