<div class="main">
  <p>
    In this next part of the experiment you are a day-trader for the next 5
    days. One round represents 1 day. Each round, you will receive $40 and have
    to decide whether to invest as an individual or risk investing with the
    group.
  </p>
  <p>
    The individual investment yields a guaranteed doubling of the payoff every
    round. On the other hand, the group investment payoff is dependent on how
    much other traders have invested in the common pool such that every players’
    contributions are lumped together, multiplied by 4, and then distributed
    back evenly. The person with the highest individual payoff at the end wins!
  </p>
  <p>
    You are playing with the same team from the start of the experiment. When
    you are ready, please put your first name and first letter of your surname
    in the USERNAME box and put the game code that you have received in the
    GAMECODE box.
  </p>
  <p>
    Please press ready when you're ready to start. Game will start when all
    players are ready
  </p>
</div>
