input[type="text"],
button[type=submit]{
	margin-top: 0.6vh;
	height: 4em;
}
button[type=submit] {
	color: #1E1E1E;
}
form {
	margin-top: 0.6vh;
}


hr {
	width: 66.7vw;
}

.header {
	margin-bottom: 30px;
}

.submitted-feedback {
	
}