<div class="content">
  <h1>Welcome</h1>
  <hr />
  <app-instructions></app-instructions>
  <hr />
  <div class="form-group">
    <h5 *ngIf="username">Hello {{ username }}</h5>
    <label for="game-code">Username</label>
    <div class="input-group" id="game-code-input">
      <input
        [ngModel]="username"
        (ngModelChange)="usernameChange($event)"
        type="text"
        class="form-control"
        placeholder="Enter Username (eg. MrBlobby)"
      />
    </div>

    <label for="game-code">Game Code</label>
    <div class="input-group" id="game-code-input">
      <input
        [ngModel]="gameCode"
        (ngModelChange)="gameCodeChange($event)"
        type="text"
        class="form-control"
        placeholder="Enter Game Code"
      />
    </div>
    <p *ngIf="info" class="has-error">{{ info }}</p>
  </div>
  <button
    type="submit"
    class="btn btn-outline-primary btn-block"
    id="submit-btn"
    (click)="validate()"
  >
    Verify
  </button>
</div>
